
body{font-family: 'Roboto', sans-serif;}
#title-Food-web{text-align: center;
font-weight: bolder;
background-image: url(images/food/food/Project\ Cover4.png);
height: 5em;
color: papayawhip;
font-size: xx-large;}
.part-1{display: flex;


}
.part-1-left{width: 50%;


}
h1{font-size: 4em;
    font-family: 'Roboto', sans-serif;
}
.purple-color{
    color: purple;
}
.order-button{text-decoration: none;
    background-image: linear-gradient(purple,rgb(252, 84, 17));
    width: 16em;
    color: rgb(255, 255, 255);
padding: 5px 8px;
border-radius: 2px;
font-weight: 700;
    border-radius: 30px;}
.part-2{background-image: url(images/food/shapes/7.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
.part-1-right{width: 50%;

}
.part-2{display: flex;


}
.about-me{

}
.contact-button{text-decoration: none;
    background-image: linear-gradient(rgb(140, 219, 88),rgb(24, 12, 12));
    width: 16em;
    color: whitesmoke;
    background-color: orchid;
padding: 5px 8px;
border-radius: 2px;
font-weight: 700;
    border-radius: 30px;

}
#text-a-cen{text-align: center;}
.food-img-box{

}